@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');


/* Header */

.Logo-TXE {
    width: 5rem;
    margin-right: 1rem;
}

a {
    margin-right: 1.5rem;
}

.container-fluid {
    background-color: transparent;
}

.navbar {
    height: 5rem;
}

/* Fotos y Titulo */

.foto-logo-container {
    display: flex;
    width: 100%;
    height: 25rem;
    background-color: lightcyan;
    align-items: center;
    justify-content: space-between;

    .logo-largo {
        height: 6rem;
        margin-bottom: 2rem;
        margin-left: 2rem;
    }

    .fotos-container {
        margin-right: 4rem;
    }
}

/* Primera Seccion: Sobre Eloy */

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: cadetblue;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}


.primer-texto-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    border: solid 1px lightblue;
    border-radius: 1rem;
    padding: 2rem;

    .foto-1 {
        width: 12rem;
        border-radius: 1rem;
    }

    .text-container {
        justify-content: space-evenly;


        .title {
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            color: cadetblue;
            margin-bottom: 1rem;
            margin-top: 0rem;
        }

        .linea-divisoria {
            height: 21rem;
            width: 0.13rem;
            margin-left: 1rem;
            margin-right: 1rem;
            background-color: cadetblue;
            border-radius: 1rem;
        }

        & p {
            font-size: 12px;
            flex-wrap: wrap;
            font-family: 'Roboto', sans-serif;
        }

        .oracion-final {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            color: cadetblue;
        }
    }
}

/* Segunda Banner: Que es el sindrome de crouzon */

.segundo-texto-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    border: solid 1px lightblue;
    border-radius: 1rem;
    padding: 2rem;

    .foto-1 {
        width: 12rem;
        border-radius: 1rem;
    }

    .text-container {
        justify-content: space-evenly;


        .title {
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            color: cadetblue;
            margin-bottom: 1rem;
            margin-top: 0rem;
        }

        .parrafo-derecho {
            margin-right: 2.5rem;
        }

        .linea-divisoria {
            height: 21rem;
            width: 0.13rem;
            margin-left: 2rem;
            margin-right: 2rem;
            background-color: cadetblue;
            border-radius: 1rem;
        }

        & p {
            font-size: 12px;
            flex-wrap: wrap;
            font-family: 'Roboto', sans-serif;
        }

        .oracion-final {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            color: cadetblue;
        }
    }
}

/* Tercer Banner: Como Colabrorar? */

.tercer-texto-container {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px lightblue;
    border-radius: 1rem;
    padding: 2rem;

    .text-container-tercer-banner {
        display: flex;

        .parrafo-izquierdo {
            text-align: center;
            width: 50%;

            .title-transferencia {
                color: cadetblue;
                font-size: 16px;
            }

            & p {
                flex-wrap: wrap;
            }

            .contenedor-logos {
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: center;
                gap: 2rem;

                & img {
                    height: 3rem;
                }
            }
        }

        .linea-divisoria {
            height: 21rem;
            width: 0.13rem;
            margin-left: 2rem;
            margin-right: 2rem;
            background-color: cadetblue;
            border-radius: 1rem;
        }

        .parrafo-derecho {
            text-align: center;
            flex-wrap: wrap;
            width: 50%;

            .title-efectivo {
                color: cadetblue;
                font-size: 16px;
            }

            & .imagen-arrow-down {
                margin-top: 1rem;
                width: 3.5rem;
                color: cadetblue;

            }
        }
    }
}

/* Quinto Banner: Contacto */

.primer-texto-container {
    & .text-container {
        display: flex;

        & .parrafo-izquierdo {
            text-align: center;
            width: 50%;

            & .title-advance {
                color: cadetblue;
                font-size: 20px;
            }

            & p {
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
            }
        }

        & .parrafo-centro {
            text-align: center;
            width: 50%;

            & p {
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
            }

            & .btn-whatsapp {
                
            }
        }

    }
}