@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');


/* Header */

.Logo-TXE {
    width: 5rem;
    margin-right: 1rem;
}

a {
    margin-right: 1.5rem;
}

.container-fluid {
    background-color: transparent;
}

.navbar {
    height: 5rem;
}

/* Fotos y Titulo */

.foto-logo-container {
    display: flex;
    width: 100%;
    height: 10%;
    background-color: lightcyan;
    justify-content: center;  

    .logo-largo {
        position: absolute;
        height: 8rem;            
    }

    & .foto-2 {                
        width: 100%;        
    }    
}

/* Primera Seccion: Sobre Eloy */

.title-primer-banner {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: cadetblue;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.primer-texto-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    border: solid 1px lightblue;
    border-radius: 1rem;
    padding: 1rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;

    .img-container{
        .foto-1 {
            width: 12rem;
            border-radius: 1rem;
        }
    }

    .text-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        & .parrafo-izquierdo-primer-banner {
            .title {
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                color: cadetblue;
                margin-bottom: 1rem;
                margin-top: 0rem;
            }

            & p {
                font-size: 12px;
                flex-wrap: wrap;
                font-family: 'Roboto', sans-serif;
            }
        }

        .parrafo-centro-primer-banner {
            & p {
                font-size: 12px;
                flex-wrap: wrap;
                font-family: 'Roboto', sans-serif;
            }           
        }

        .linea-divisoria-primer-banner {
            height: 22rem;
            width: 0.11rem;
            margin-left: 1rem;
            margin-right: 1rem;            
            background-color: cadetblue;
            border-radius: 1rem;
        }

        .parrafo-derecho-primer-banner {
            & p {
                font-size: 12px;
                flex-wrap: wrap;
                font-family: 'Roboto', sans-serif;
            }

            .oracion-final {
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                color: cadetblue;
            }
        }
    }
}


/* Segunda Banner: Que es el sindrome de crouzon */

.title-segundo-banner {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: cadetblue;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.segundo-texto-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    border: solid 1px lightblue;
    border-radius: 1rem;
    padding: 2rem;

    .foto-1 {
        width: 12rem;
        border-radius: 1rem;
    }

    .text-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;        

        .parrafo-derecho {
            margin-right: 2.5rem;
        }

        .linea-divisoria {
            height: 18rem;
            width: 0.13rem;
            margin-left: 2rem;
            margin-right: 2rem;
            background-color: cadetblue;
            border-radius: 1rem;
        }

        & p {
            font-size: 12px;
            flex-wrap: wrap;
            font-family: 'Roboto', sans-serif;
        }      
    }
}

/* Tercer Banner: Como Colaborar? */

.title-tercer-banner {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: cadetblue;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.tercer-texto-container {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px lightblue;
    border-radius: 1rem;
    padding: 2rem;

    .text-container-tercer-banner {
        display: flex;

        .parrafo-izquierdo {
            text-align: center;
            width: 50%;

            .title-transferencia {
                color: cadetblue;
                font-size: 16px;
            }

            & p {
                flex-wrap: wrap;
            }

            .contenedor-logos {
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: center;
                gap: 2rem;

                & img {
                    height: 3rem;
                }
            }
        }

        .linea-divisoria {
            height: 21rem;
            width: 0.13rem;
            margin-left: 2rem;
            margin-right: 2rem;
            background-color: cadetblue;
            border-radius: 1rem;
        }

        .parrafo-derecho {
            text-align: center;
            flex-wrap: wrap;
            width: 50%;

            .title-efectivo {
                color: cadetblue;
                font-size: 16px;
            }

            & .imagen-arrow-down {
                margin-top: 1rem;
                width: 3.5rem;
                color: cadetblue;
            }
        }
    }
}

/* Cuarto Banner: Sorteo */

.title-sorteo {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: cadetblue;
    margin-bottom: 1rem;
    margin-top: 5rem;
}

.titulo-secundario {
    text-align: center;
    font-size: 16px;
}

.valor {
    color: cadetblue;
    font-size: 22px;
}

.primer-texto-container {
    margin-top: 4rem;
    .text-container {
        .parrafo-izquierdo {
            .titulo-premio {
                color: cadetblue;
                font-size: 22px;
            }

            & ul {  
                display: flex;             
                list-style: none;
                flex-direction: column;
                align-items: start;
                gap: 1rem;   
            }
        }

        .linea-divisoria-cuarto-banner {
            height: 80rem;
            width: 0.13rem;
            margin-left: 2rem;
            margin-right: 2rem;
            background-color: cadetblue;
            border-radius: 1rem;
        }

        .parrafo-derecho {
            & ul {  
                display: flex;             
                list-style: none;
                flex-direction: column;
                align-items: start;
                gap: 1rem;   
            }
        }
    }    
}




/* Quinto Banner: Contacto */

.title-quinto-banner {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: cadetblue;
    margin-bottom: 1rem;
    margin-top: 5rem;
}

.primer-texto-container {
    & .text-container {
        display: flex;

        & .parrafo-izquierdo {
            text-align: center;
            width: 50%;
            

            & .title-advance {
                color: cadetblue;
                font-size: 20px;
            }

            & p {
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
            }

            & a {
                margin-left: auto;
                margin-right: auto;

                & img {
                    width: 3rem;
                    margin: 1.5rem
                }
            }

            & img:hover {
                cursor: pointer;
            }
        }

        & .linea-divisoria {
            height: 21rem;
            width: 0.13rem;
            margin-left: 1.7rem;
            margin-right: 1.7rem;
            background-color: cadetblue;
            border-radius: 1rem;
        }

        & .parrafo-centro {
            text-align: center;
            width: 50%;

            & p {
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
            }

            & .whatsapp-container {
                display: flex;
                width: 70%;
                height: 2.5rem;
                background-color: cadetblue;
                color: white;
                justify-content: center;
                border-radius: 10px;
                gap: 0.5rem;
                margin-left: auto;
                margin-right: auto;
                margin-top: 3rem;
                padding-left: 1rem;

                & a {
                    & img {
                        width: 1.5rem;
                        margin-top: 0.4rem;
                    }
                }

                & p {
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px;
                }

                .whatsapp-container:hover {
                    cursor: pointer;
                }
            }
        }

        & .parrafo-derecho {
            text-align: center;
            width: 50%;

            & img {
                width: 3rem;
                margin: 1.5rem
            }

            & .cuenta {
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                margin-top: 2rem;
                margin-bottom: 4rem;
            }

            .instagram-container {
                display: flex;
                width: 65%;
                height: 2.5rem;
                background-color: cadetblue;
                color: white;
                justify-content: center;
                border-radius: 10px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 3rem;
                padding-left: 3.2rem;

                & a {
                    & img {
                        width: 1.5rem;
                        margin-top: 0.4rem;
                        margin-left: 0.5rem;
                    }
                }

                & p {
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px;
                }

                & .instagram-container:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

/* Mensaje Final */

.mensaje-final {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: cadetblue;
    
    margin-top: 5rem;
}

/* Footer */

.footer { 
    height: 12rem;
    background-color: lightgray;
    margin-top: 5rem;
    text-align: center;
    padding: 1.5rem;   
    width: 100%;

    .tags-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    
    
        & .nav-link {
            color: black;
        }
    }
    
    .location-container {
        display: flex;
        gap: 0.5rem;
    
        justify-content: center;
    }
    
    .firma {
        font-size: 10px;
        color: black;
        text-decoration: none;
    }
    
    .firma:hover {
        color: whitesmoke;
    }

}

